body {
    /* overflow: hidden; */
    width: 100vw;
    height: 100vh;
}

.main {
    display: flex;
}

.container {
    /*float: right;*/
    padding-left: 8vw;
    justify-items: center;
    align-items: center;
    justify-self: center;
    align-self: center;
}

@media handheld, only screen and (max-width:900px){

    .main {
        flex-wrap: wrap;
    }

    .container {
        padding-left: 0;
        padding-top: 30px;
    }
}

/* #sudokuCanvas {
    display: block;
    width: 95%;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
} */

#sudokuCanvas {
    align-self: center;
    float: left;
}

.buttons {
    justify-self: right;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.number {
    align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

}

.number:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
}

.number:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.solve {
    padding: 12.5px 30px;
    border: 0;
    border-radius: 100px;
    background-color: #2ba8fb;
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
  
.solve:hover {
    background-color: #6fc5ff;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
  }
  
.solve:active {
    background-color: #3d94cf;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
  }